<div class="container">
  <div class=row>
    <div class="col-md-12">
      <ul class="nav nav tabs">
          <li class="nav-item">
            <a class="nav-link" routerLink="/general">General Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/servicescharges">Service Charges</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/payee']">Payee Information</a>
          </li>        
      </ul>
    </div>
  </div>
</div>